body {
	font-size: 1.3em;
	font-family: 'Crimson Text', Georgia, Times, serif;
}

.site-wrapper {
	background: url('../images/background.jpg') no-repeat center center;
	min-height: 100%;
	background-size: cover;
}

.masthead-brand {
	font-size: 40px;
}


.calendar {
	color: #000;
}

.modal-content {
	background-color: #03A9F4;
	color: white;
	text-align: center;
	width: 70%;
	height: 500px;
	margin: 0 auto;
}

.nav-link {
	font-size: 1.3em;
}

.cover {
	    background-color: #00BCD4;
    padding: 15px;
    border-radius: 25px;
    opacity: 0.8;
    width: 70%;
    margin: 0 auto;
}

.form-group {
	margin-bottom: 20px;
	text-align: left;
	margin-left: 12px;
}

select {
	color: black;
}

.navbar {
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
	border-radius: 0;
	padding:12px;
	font-family: 'Allerta', Helvetica, Arial, sans-serif;
	background-color: #00BCD4;
}

.navbar li {
	font-size: 16px;
}

.navbar-right {
	margin-right: 40px;
}

#logo {
	position: absolute;
	margin-top: -16px;
	margin-left: 35px;
}
#links {
	margin-left:90px;
}

.btn {
	
	font-size: 20px;
}

label {
	font-size: 1.6em;
}

#petType, #petSize, .cal {
	font-size: 1.4em;
}

#petType {
	margin-top: -10px;
}
#petType[select] {
	margin-bottom:10px;
} 